<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- <link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,700" rel="stylesheet"> -->
		<title>Classtoggler - Demo</title>
	</head>
	<body>
		<div id="page-wrapper" class="pt-5">
			<div class="container">
				<div class="col-md-10 offset-md-1">
					<section>
						<h1>Classtoggler Demo</h1>
						<p>With just a small touch of css and the Classtoggler you can achieve pretty complex UI elements. Have a look at the examples and feel free to reuse the css:</p>
						<h2>1. Simple dropdown navigation</h2>
						<nav id="primary-nav" class="mb-3">
			            <ul>
			               <li class="has-sub-menu">
			                  <a href="#" data-toggler-target="#item-1-sub-menu" data-toggler-group="navigation">Item 1</a>
			                  <ul class="sub-menu" id="item-1-sub-menu">
			                     <li><a href="#">sub-item 1</a></li>
			                     <li><a href="#">sub-item 2</a></li>
			                     <li><a href="#">sub-item 3</a></li>
			                  </ul>
			               </li>
			               <li class="has-sub-menu">
									<a href="#" data-toggler-target="#team-sub-menu" data-toggler-group="navigation">Item 2</a>
									<ul class="sub-menu" id="team-sub-menu">
			                     <li><a href="#">sub-item 1</a></li>
			                     <li><a href="#">sub-item 2</a></li>
			                     <li><a href="#">sub-item 3</a></li>
			                  </ul>
								</li>
			               <li><a href="#">Item 3</a></li>
			               <li><a href="#">Item 4</a></li>
			            </ul>
			         </nav>
						<h3>Markup</h3>
						<pre>
							<code class="language-markup">
	&lt;nav id="primary-nav"&gt;
	  &lt;ul&gt;
	    &lt;li class="has-sub-menu"&gt;
	      &lt;a href="#" data-toggler-target="#item-1-sub-menu" data-toggler-group="navigation"&gt;Item 1&lt;/a&gt;
	      &lt;ul class="sub-menu" id="item-1-sub-menu"&gt;
	        &lt;li&gt;&lt;a href="#"&gt;sub-item 1&lt;/a&gt;&lt;/li&gt;
	        &lt;li&gt;&lt;a href="#"&gt;sub-item 2&lt;/a&gt;&lt;/li&gt;
	        &lt;li&gt;&lt;a href="#"&gt;sub-item 3&lt;/a&gt;&lt;/li&gt;
	      &lt;/ul&gt;
	    &lt;/li&gt;
	    &lt;li class="has-sub-menu"&gt;
	      &lt;a href="#" data-toggler-target="#team-sub-menu" data-toggler-group="navigation"&gt;Item 2&lt;/a&gt;
	      &lt;ul class="sub-menu" id="team-sub-menu"&gt;
	        &lt;li&gt;&lt;a href="#"&gt;sub-item 1&lt;/a&gt;&lt;/li&gt;
	        &lt;li&gt;&lt;a href="#"&gt;sub-item 2&lt;/a&gt;&lt;/li&gt;
	        &lt;li&gt;&lt;a href="#"&gt;sub-item 3&lt;/a&gt;&lt;/li&gt;
	      &lt;/ul&gt;
	    &lt;/li&gt;
	    &lt;li&gt;&lt;a href="#"&gt;Item 3&lt;/a&gt;&lt;/li&gt;
	    &lt;li&gt;&lt;a href="#"&gt;Item 4&lt;/a&gt;&lt;/li&gt;
	  &lt;/ul&gt;
	&lt;/nav&gt;
							</code>
						</pre>
						<pre>
							<code class="language-javascript">
	// remove active class if clicked outside of the navigation

	const navigation = document.getElementById('primary-nav');
	document.onclick = function(e) {
		const target = e.target;
		if (target !== navigation && !navigation.contains(e.target)){
			console.log('outside');
			classtogglerRemoveClassByGroup('navigation')
		}
	}
							</code>
						</pre>
					</section>
					<section>
						<h2>2. Accordion</h2>
						<div class="accordion">
							<div class="accordion-item">
								<a href="#" data-toggler-group="accordion" data-toggler-target="#item-1" class="accordion-title">item 1</a>
								<div class="accordion-content" id="item-1">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
								</div>
							</div>
							<div class="accordion-item">
								<a href="#" data-toggler-group="accordion" data-toggler-target="#item-2" class="accordion-title">item 2</a>
								<div class="accordion-content" id="item-2">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
								</div>
							</div>
							<div class="accordion-item">
								<a href="#" data-toggler-group="accordion" data-toggler-target="#item-3" class="accordion-title">item 3</a>
								<div class="accordion-content" id="item-3">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
								</div>
							</div>
							<div class="accordion-item">
								<a href="#" data-toggler-group="accordion" data-toggler-target="#item-4" class="accordion-title">item 4</a>
								<div class="accordion-content" id="item-4">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.</p>
								</div>
							</div>
						</div>
						<h3>Markup</h3>
						<pre>
							<code class="language-markup">
	&lt;div class="accordion"&gt;
	  &lt;div class="accordion-item"&gt;
	    &lt;a href="#" data-toggler-group="accordion" data-toggler-target="#item-1" class="accordion-title"&gt;item 1&lt;/a&gt;
	    &lt;div class="accordion-content" id="item-1"&gt;
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	    &lt;/div&gt;
	  &lt;/div&gt;
	  &lt;div class="accordion-item"&gt;
	    &lt;a href="#" data-toggler-group="accordion" data-toggler-target="#item-2" class="accordion-title"&gt;item 2&lt;/a&gt;
	    &lt;div class="accordion-content" id="item-2"&gt;
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	    &lt;/div&gt;
	  &lt;/div&gt;
	  &lt;div class="accordion-item"&gt;
	    &lt;a href="#" data-toggler-group="accordion" data-toggler-target="#item-3" class="accordion-title"&gt;item 3&lt;/a&gt;
	    &lt;div class="accordion-content" id="item-3"&gt;
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	    &lt;/div&gt;
	  &lt;/div&gt;
	  &lt;div class="accordion-item"&gt;
	    &lt;a href="#" data-toggler-group="accordion" data-toggler-target="#item-4" class="accordion-title"&gt;item 4&lt;/a&gt;
	    &lt;div class="accordion-content" id="item-4"&gt;
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis recusandae, nulla in laudantium ea accusantium ex tempore laborum molestias architecto facere excepturi quasi vel temporibus explicabo voluptas repellendus magni.
	    &lt;/div&gt;
	  &lt;/div&gt;
	&lt;/div&gt;
							</code>
						</pre>
					</section>

					<section>
						<h2>Hidden Menu</h2>
						<p>Two elements controlling one container, menu icon triggering the open and x icon the close event.</p>
						<nav id="menu-wrapper" class="mb-3 p-3">
							<a href="#" data-toggler-target="#menu"><img src="img/menu.svg" alt=""></a>
							<div id="menu">
								<div class="menu-inner">
									<a class="close" href="#" data-toggler-target="#menu">X</a>
									<ul>
										<li><a href="#">Item 1</a></li>
										<li><a href="#">Item 2</a></li>
										<li><a href="#">Item 3</a></li>
										<li><a href="#">Item 4</a></li>
									</ul>
								</div>
							</div>
						</nav>
						<h3 class="mb-3">Markup</h3>
						<pre>
							<code class="language-markup">
	&lt;nav id="menu-wrapper"&gt;
	 &lt;a href="#" data-toggler-target="#menu"&gt;&lt;img src="img/menu.svg" alt=""&gt;&lt;/a&gt;
	 &lt;div id="menu"&gt;
	   &lt;div class="menu-inner"&gt;
	     &lt;a class="close" href="#" data-toggler-target="#menu"&gt;X&lt;/a&gt;
	     &lt;ul&gt;
	       &lt;li&gt;&lt;a href="#"&gt;Item 1&lt;/a&gt;&lt;/li&gt;
	       &lt;li&gt;&lt;a href="#"&gt;Item 2&lt;/a&gt;&lt;/li&gt;
	       &lt;li&gt;&lt;a href="#"&gt;Item 3&lt;/a&gt;&lt;/li&gt;
	       &lt;li&gt;&lt;a href="#"&gt;Item 4&lt;/a&gt;&lt;/li&gt;
	     &lt;/ul&gt;
	   &lt;/div&gt;
	 &lt;/div&gt;
	&lt;/nav&gt;
							</code>
						</pre>
					</section>

					<section>
						<h2>Chaining</h2>
						<p>One element controlling two (or more) containers</p>
						<p class="text-center">
							<a class="btn" href="#" data-toggler-target="#section-1, #section-4">Red</a>
							<a class="btn btn-blue" href="#" data-toggler-target="#section-2, #section-3">Blue</a>
						</p>
						<div class="row">
							<div id="section-1" class="col-md-6 collapse active">
								<div class="card red">
									<h2>Red</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
							<div id="section-2" class="col-md-6 collapse active">
								<div class="card blue">
									<h2>Blue</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
							<div id="section-3" class="col-md-6 collapse active">
								<div class="card blue">
									<h2>Blue</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
							<div id="section-4" class="col-md-6 collapse active">
								<div class="card red">
									<h2>Red</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
						</div>
						<h3 class="mb-3">Markup</h3>
						<pre>
							<code class="language-markup">
&lt;p class="text-center"&gt;
	&lt;a class="btn" href="#" data-toggler-target="#section-1, #section-4"&gt;Red&lt;/a&gt;
	&lt;a class="btn btn-blue" href="#" data-toggler-target="#section-2, #section-3"&gt;Blue&lt;/a&gt;
&lt;/p&gt;
&lt;div class="row"&gt;
	&lt;div id="section-1" class="col-md-6 collapse active"&gt;
		&lt;div class="card red"&gt;
			&lt;h2&gt;Red&lt;/h2&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div id="section-2" class="col-md-6 collapse active"&gt;
		&lt;div class="card blue"&gt;
			&lt;h2&gt;Blue&lt;/h2&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div id="section-3" class="col-md-6 collapse active"&gt;
		&lt;div class="card blue"&gt;
			&lt;h2&gt;Blue&lt;/h2&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div id="section-4" class="col-md-6 collapse active"&gt;
		&lt;div class="card red"&gt;
			&lt;h2&gt;Red&lt;/h2&gt;
			&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
							</code>
						</pre>
					</section>
				</div>
			</div>
		</div>
	</body>
</html>
