
   #page-wrapper {
      padding-top: 100px;
   }


   section {
      margin-bottom: 100px;
      padding-top: 50px;
   }

   .card {
      background-color: $grey-light;
      padding: 20px;
      margin-bottom: 30px;

      > * {
         &:last-child {
            margin-bottom: 0;
         }
      }

      &.red {
         background-color: $warning;
         color: white;
      }

      &.blue {
         background-color: $cta;
         color: white;
      }
   }
